.popup-container {
    background-color :#000e;
    position : fixed;
    top : 0;
    left : 0;
    width : 100vw;
    height : 100vh;
    display : flex;
    justify-content : center;
    align-content : center;
    align-items : center;
}

.popup {
    border-radius: 0.5em;
}

.popup .titleBar {
    font-size:1.25em;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    color: white;
    border-radius: .5em;
}
.popup .titleBar button {
    padding: 0.5em;
    display: "block";
    border: "none";
    border-radius: .5em;
}

.popup .content {
    background-color: #fff;
    color: #111;
    padding: 0.5em;
    border-radius: .5em;
}
