
.success{
    color:darkgreen;
    border-color:darkgreen;
    background-color: lightgreen;
}

.warning{
    color:darkorange;
    border-color:darkorange;
    background-color: lightyellow;
}

.alert{
    color:darkred;
    border-color:darkred;
    background-color: seashell;
}

.info{
    color:darkblue;
    border-color:darkblue;
    background-color: lightblue;
}

.primary{
    color:blue;
    border-color:blue;
    background-color: lightblue;
    
}

.secondary{
    color:dimgray;
    border-color:dimgray;
    background-color: lightgray;
}