
:root{
    --darkBG: rgb(20, 20, 20);
    --darklightBG: rgb(70, 70, 70);
    --darkFG: rgb(240, 240, 240);
    --semidarkFG: rgb(201, 201, 201);

    


}


@media (prefers-color-scheme: dark) {
    html {
        background-color: --darkBG;
        // color;
    }
    body {

    }

}
@media (prefers-color-scheme: light) {
    
}