{% extends "index.html" %}
{% block title %} Envoyer {% endblock %}

{% block article %}

    <h2>Envoyez des fichiers</h2>
    <form id="FileForm" action="{{ meta.routes }}/file/send/" method="POST" enctype="multipart/form-data">
        <h3>Vous</h3>
        <fieldset>
            <label for="userlogin"> <b>Votre ID.</b> (pseudo, diminutif, initiales, blase...)</label><br>
            <input type="text" name="userelogin" id="userelogin" placeholder="George Sand"><br>

            <label for="useremail"> <b>Votre email !</b> </label><br>
            <input type="email" name="useremail" id="useremail" placeholder="foo.bar@mail.tld"><br>
        </fieldset>

        <h3>Destinataires</h3>
        <fieldset id="addEmail">
            <label for="email_1"><b>Email</b></label><br>
            <input type="email" name="destemail" id="email_1" placeholder="foo.bar@mail.tld">
            <br>
            <!-- <input type="checkbox" id="check">
            <label for="check">Colis livré.s ?</label> -->
        </fieldset>
        <!-- <button onclick="" disabled>+ ajouter un destinataire</button> -->

        <h3>Fichiers</h3>
        <fieldset>
            <!-- div to put a drop module -->
            <div id="drop-module">
            </div>
        </fieldset>

        <script type="module">

            import { DragAndDrop } from '{{ meta.assets }}/js/modules/Drag&drop/class-DragAndDrop.js';
            new DragAndDrop({

                // tag id : where you want to append the drag&drop
                DropTagId: "drop-module",

                // forms : form id / is async (depend of form or not)
                Form: { id: "FileForm", async: true },

                // drop area element properties
                DropArea: { id: "dropArea", class: "droparea", message:'Click here or drag and drop your files here !' },

                FileListArea: { id: "FileListArea", class: "FileListArea" },
                // ThumbsArea: { id: "thumbsArea", class: "thumbsArea" },
            });

        </script>

        <h3>Envoyer</h3>
        <fieldset>
            <button class="bg-primary text-white" type="submit">Envoyer</button>
            <button class="bg-secondary text-white" type="reset">Effacer</button>
        </fieldset>
    </form>

{% endblock %}